<div class="container mt-4">
  <div class="row">

    <div class="col-md-4">
      <h4 class="mb-3">{{ editingId ? 'Edit' : 'Add' }} Appointments</h4>

      <div class="mb-3">
        <label class="form-label">Doctors</label>
        <select [(ngModel)]="form.doctorId" class="form-select">
          <option value="">-- Select Doctors --</option>
          @for (i of item1s; track i.id) {
            <option [value]="i.id">{{ i.name }}</option>
          }
        </select>
        @if (submitted && !form.doctorId) {
          <span class="text-danger">Required</span>
        }
      </div>

      <div class="mb-3">
        <label class="form-label">Patients</label>
        <select [(ngModel)]="form.patientId" class="form-select">
          <option value="">-- Select Patient --</option>
          @for (i of item2s; track i.id) {
            <option [value]="i.id">{{ i.name }}</option>
          }
        </select>
        @if (submitted && !form.patientId) {
          <span class="text-danger">Required</span>
        }
      </div>

      <div class="mb-3">
        <label class="form-label">Date & Time</label>
        <input [(ngModel)]="form.dateTime" class="form-control" placeholder="2026-04-27T017:32"/>
        @if (submitted && !form.dateTime) {
          <span class="text-danger">Appointment is required</span>
        }
      </div>

      <div class="d-flex gap-2">
        <button (click)="save()" class="btn btn-primary">{{ editingId ? 'Update' : 'Add' }}</button>
        <button (click)="reset()" class="btn btn-outline-secondary">Clear</button>
      </div>
    </div>

    <div class="col-md-8">
      <h4 class="mb-3">Appointments list</h4>
      <table class="table">
        <thead class="letter-dark">
        <tr>
          <th>Doctors</th>
          <th>Patients</th>
          <th>Date & Time</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody class="table-light">
          @for (item of items; track item.id) {
            <tr>
              <td>{{ getItem1Nombre(item.doctorId) }}</td>
              <td>{{ getItem2Nombre(item.patientId) }}</td>
              <td>{{ item.dateTime }}</td>
              <td>
                <div class="d-flex gap-2">
                  <button (click)="edit(item)" class="btn btn-outline-primary">Editar</button>
                  <button (click)="delete(item.id!)" class="btn btn-outline-danger">Eliminar</button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

  </div>
</div>
